*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100%;
}

h1, h2, p{
    color: #333;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #f8f8f8;
    padding: 15px;
}

header img{
    width: 50px;
    border-radius: 50%;
}

header nav a{
    color: #333;
    text-decoration: none;
    margin-left: 10px;
}

.p1{
    height: 460px;
    background-image: url(bg.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: end;
}

.p1Text{
    margin-bottom: 100px;
}

.p1Text h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.p1Text p{
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}

.p1 .botao{
    text-align: center;
}

.p1 a{
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    margin-right: 20px;
}

.p1 a:hover{
    background-color: gray;
    color: black;
}

.p2{
    text-align: center;
    margin-top: 50px;
}

.p2 h1{
    margin-bottom: -10px;
}

.caixas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.caixa{
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px 10px 10px 10px;
    border: 1px solid rgba(128, 128, 128, 0.712);
}

.caixa img{
    width: 300px;
}

.caixa h2{
    font-size: 20px;
    margin-top: 10px;
}

.s2 .caixa p{
    margin:10px 0px 10px 0px;
}

.caixa a{
    display: inline-block;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 300px;
}

.caixa a:hover{
    background-color: gray;
    color: black;
}

.p3{
    margin-top: 50px;
}

.p3 h1{
    margin-bottom: -10px;
    text-align: center;
}

.p3 .caixaImg{
    display: flex;
    justify-content: center;
}

.p3 img{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.p3 p{
    margin-bottom: 20px;
    width: 320px;
    text-align: center;
}

.p4{
    text-align: center;
    margin-top: 50px;
}

.p4 h1{
    margin-bottom: -10px;
    text-align: center;
}

.p4 .caixa{
    padding: 30px;
    height: 160px;
    width: 340px;
}

.p4 .caixa h2{
    font-size: 20px;
    margin-bottom: 20px;
}

.p4 .caixa p{
    margin: auto;
    width: 270px;
    text-align: justify;
}

.p5{
    text-align: center;
    margin-top: 50px;
}

.p5 .caixa{
    width: 340px;
    line-height: 20px;
}

.p5 .caixa h2{
    margin-bottom: 10px;
}

.p5 .caixa p{
    margin-bottom: 10px;
}

.p6{
    height:460px;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
}

.p6 .formulario{
    width: 700px;
}

.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:left;
    margin-right: 20px;
}

.formulario h1{
    text-align: center;
    margin-bottom: 20px;
}

form input{
    width: 95%;
    height: 35px;
    margin-bottom: 20px;
    margin-left: 60px;
    padding: 5px;
}

form textarea{
    padding: 5px;
    width: 95%;
    height: 70px;
    margin-bottom: 20px;
    margin-left: 60px;
}

form .submit{
    background-color: #333;
    color: white;
}

form .submit:hover{
    background-color: gray;
    color: black;
}

.p6 .caixaImg{
    display: flex;
    width: 500px;
    margin-bottom: 10px;
}

.p6 .caixaImg img{
    width: 90%;
}

footer{
    background-color: #333;
    padding: 15px;
    text-align: center;
}

footer p{  
    color: white;
    margin-bottom: 5px;
}

footer a{
    text-decoration: none;
    color: white;
}

